{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="col-lg-4 col-lg-offset-4 ">
<div class="panel panel-default">
<div class="panel-heading">Login</div>
<div class="panel-body">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}" />
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
    <a href="{{ password_reset_url }}">Gelmt din kode eller brugernavn?</a>
    </div>
    {% endif %}
    <button type="submit" class="pull-right btn btn-success">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}