{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% if book_list %}
    {% for book in book_list %}
        <div class="row">
            <div class="col-sm-2 col-xs-12 pull-right">
               {% thumbnail book.thumbnail "100x100" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </div>
            <div class="col-sm-10 col-xs-12">
                <h1>{{ book.title }}</h1>
                <p>{{ book.description }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        {% if is_paginated %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% url "articles:list" page_obj.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{% url "articles:list" page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
        {% endif %}
    </div>
{% else %}
    <h1>There's no books</h1>
{% endif %}
{% endblock %}