{% load staticfiles %}
<!DOCTYPE html>
<html>
    {% include "header.html" %}
    <body>
        <div>
            {% include 'navigation.html' %}
            {% block breadcrumbs %}{% endblock %}
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>

            {% include 'footer.html' %}
        </div>
        {% if messages %}
            <div class="alerts">
                {% for message in messages %}
                    <div class="alert alert-danger alert-{{ message.tags }} fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>