<div id="footer" class="container-fluid row">
    <div style = "">

    </div><div class = "col-md-1">
        <p>
            AARHUS TECH <br>
            Højvanges Torv 2 <br>
            8660, Skanderborg <br>
            Danmark
        </p>
    </div>
    <div class = "col-md-3">
        <div class="col-md-3">
            <br>
            {# Indsæt link til tilhørende #}
        <a href = "{% url "front:contact" %}">Kontakt os</a> <br>
        <a href = "{% url "front:credits" %}">Omkring os</a> <br>
        </div>
    </div>
    <div class = "col-md-3">
    </div>
    <div class = "pull-right" style = "margin-right: 1rem">
        <div>
            <br>
            <br>
            <span style="font-size: 1.5rem; display: block;"><strong>&#169;2016 OBOG</strong></span>
            <span style="font-size: 1rem; display: block;"><strong>A Kongstad Company</strong></span>
        </div>
    </div>
</div>