{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-10 col-lg-offset-1">
        <article>
            <h1 class="font" >Hvem er vi?</h1>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-thumbnail img-circle img-responsive" src="http://placehold.it/600x600">
                </div>
                <div class="col-sm-10">
                    <p >Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
                </div>
                <hr>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <img class="img-thumbnail img-circle img-responsive" src="http://placehold.it/600x600">
                </div>
                <div class="col-sm-10">
                    <p >Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-thumbnail img-circle img-responsive" src="http://placehold.it/600x600">
                </div>
                <div class="col-sm-10">
                    <p >Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
                </div>
            </div>
             <hr>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <img class="img-thumbnail img-circle img-responsive" src="http://placehold.it/600x600">
                </div>
                <div class="col-sm-10">
                    <p >Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</p>
                </div>
            </div>
            <br>
        </article>
    </div>

{% endblock %}