{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="col-lg-10 col-lg-offset-1">
        <article>
            <h1 class="font" >Hvem er vi?</h1>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-thumbnail img-circle img-responsive" src="{% static "profilepicture\Jacob.jpg" %}">
                </div>
                <div class="col-sm-10">
                    <h1>
                        Jacob Emil Ulvedal Rosborg -  Programming & Design
                    </h1>
                    <p>
                        Jacob har taget rollen af programming af website og designet af websiden.
                    </p>
                </div>
                <hr>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <img height="600px" width="600px" class="img-thumbnail img-circle img-responsive" src="{% static "profilepicture\KongstadLogo.png" %}">
                </div>
                <div class="col-sm-10">
                    <h1>
                        Mads Kongstad Laugesen - Design & Forfatter
                    </h1>
                    <p >
                        Mads har stået for design af logo, Nav Icon, Webside Design, "101- og 404 How To Compute" Cover design. Han har desuden også skrevet den ultra populære "How To Compute"-serie.
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-thumbnail img-circle img-responsive" src="{% static "profilepicture\Claus.jpg" %}">
                </div>
                <div class="col-sm-10">
                    <h1>
                        Claus Huynh - Marketing
                    </h1>
                    <p>
                        Sammen med Sebastian, har Claus stået for marketing & kampangeføring.
                    </p>
                </div>
            </div>
             <hr>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <img class="img-thumbnail img-circle img-responsive" src="http://cdn.bgr.com/2015/08/darth-vader.jpg">
                </div>
                <div class="col-sm-10">
                    <h1>
                        Sebastian Brandt Lauritsen - Marketing
                    </h1>
                    <p>
                        Sammen med Claus, har Sebastian stået for marketing & kampangeføring.
                    </p>
                </div>
            </div>
            <br>
        </article>
    </div>

{% endblock %}