{% load staticfiles %}
<!DOCTYPE html>
<html>
    {% include "header.html" %}
    <body background = "{% static "img/Abstract-10.jpg" %}">
<div id="carousel-index-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for img in view.images %}
        <li data-target="#carousel-index-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active">{% endif %}</li>
      {% endfor %}
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      {% for imgurl in view.images %}
          <div class="item{% if forloop.first %} active{% endif %}">
                <img style="width: 100%" src="{{ imgurl }}">
          {% if forloop.counter0 == 0 %}
            <div class="carousel-caption custom-carousel-caption">
                <h3 style = "font-size: 3rem">101: How to Compute</h3>
                <p style = "font-size: 2.5rem; -webkit-text-stroke-width: 0.03rem;">Læs den spændende bestseller af Kongstad. En dramatisk historie om hvordan en person kan læse denne bog!</p>
            </div>
          {% elif forloop.counter0 == 1 %}
              <div class="carousel-caption custom-carousel-caption">
               <h3 style = "font-size: 3rem">101: How to Compute</h3>
              <p style = "font-size: 2.5rem; -webkit-text-stroke-width: 0.03rem;">Læs den successfulde efterfølger til bestselleren "101: How to compute". I "404: How to Compute" lærer du alt om hvordan ting ikke virker.</p>
              </div>
          {% endif %}
        </div>
      {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control custom-control" href="#carousel-index-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control custom-control" href="#carousel-index-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    <div>
        <div class = "center" style="margin-top: 11rem">
            <a href="{% url "login" %}">
                <h1>
                    <button type="button" class="btn btn-primary btn-lg" style = "width: 40rem; max-width: 100%; font-size: 5rem">Log Ind</button>
                </h1>
            </a>
            <a href="LOG IDN">
                <h1>
            <img src=>
                    <button type="button" class="btn btn-primary btn-lg" style = "width: 40rem; max-width: 100%; font-size: 5rem">Opret</button>
                </h1>
            </a>
        </div>
        {% for _ in "xxxxx" %}
            <br>
        {% endfor %}


    </div>
    {% include "footer.html" %}
    </body>
